*{
    margin: 0px;
    padding: 0px;
}
.head{
   background-image: url(../images/banner/banner1.png);
   background-position: center;
   background-size: auto;
   height: 500px;
}

.title{
    height: 500px;
    text-align: right;
    align-items: right;
    margin-left:700px;
    padding-top: 255px;
    padding-right: 200px;
}
.container{
    display: flex;
    justify-content:space-around;
    margin-top: 100px;
    gap: 50px;
    align-items: center;
}
img{
    width: 300px;
}
.right{
    text-align: left;
    margin-left: 100px;
    width: 300px;
}

